<div>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="/">FrontBackend</a>

            <div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" routerLink="posts">Posts</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" routerLink="form">Create</a>
                    </li>
                </ul>

                <form class="form-inline my-2 my-md-0" action="/posts" method="get">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="title" (keydown)="searchPosts($event)">
                </form>
            </div>
        </div>
    </nav>

    <div class="container mt-3">
        <router-outlet></router-outlet><br />
    </div>
</div>